.wrapper{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
/* We tell all items to be 100% width, via flex-basis */
.wrapper > *{
    padding: 10px;
    flex: 1 100%;
}
.header{
    background: tomato;
}
.main{
    text-align: left;
    background: deepskyblue;
}
.aside-1{
    background: gold;
}
.aside-2{
    background: hotpink;
}
.footer{
    background: lightgreen;
}
/* We rely on source order for mobile-first approach
* in this case:last-of-type
* 1. header
* 2. article
* 3. aside 1
* 4. aside 2
* 5. footer
*/
@media all and (min-width: 600px){
    /* We tell both sidebars to share a row */
    .aside {
        flex: 1 auto;
    }
}
/* We ivert order of first sidebar and main 
 * And tell the main element to take twice as much width 
 * as the other two sidebars
*/
@media all and (min-width: 800px){
    .main { flex: 3 0px;}
    .aside-1 { order: 1;}
    .main { order: 2;}
    .aside-2 { order: 3;}
    .footer { order: 4;}
} 