/* 
AUTO GRID
Set the minimum item size with "--auto-grid-min-size" and you ll get a fully responsive grid with no media queries.
*/

.auto-grid{
    --auto-grid-min-size: 16rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

/* Presentational styles */

body{
    background: #efefef;
    padding: 1rem;
    line-height: 1.4;
    font-family: sans-serif;
}
li{
    list-style: none;
    padding: 5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    background: #eb4d4b;
    color: #ffffff;
}