body{
    background: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;

    font: 500 100% system-ui, sans-serif;
    text-transform: uppercase;
}

.page-wrap{
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 1px;

    background: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(black, 0.33);
}

.page-wrap > *{
    padding: 1rem;
    text-align: center;
}
.page-header{
    grid-column: 1 / -1;
    background: #ffcdd2;
}
.page-sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: #e1bee7;
}
.page-nav{
    grid-column: 2 / 3;
    background: #bbdefb;
}
.page-main{
    grid-column: 2 / 3;
    background: #dcedc8;
}
.page-footer{
    grid-column: 1 / -1;
    background: #ffecb3;
}
details p{
    text-transform: none;
    text-align: left;
}
@media (max-width: 600px){
    .page-wrap{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .page-wrap > *{
        grid-column: 1 / -1;
        grid-row: auto;
    }
}