div{
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 20px;
    position: absolute;
    color: white;
    text-align: center;

    top: 100px;
    left: 100px;
}

#div-1{
    background-color: black;
}

#div-2{
    transform: translate(100px, 20px) scale(0.8) rotate(30deg);
    background-color: tomato;
    opacity: 0.8;
}