div{
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 20px;
    position: absolute;
    color: white;
    text-align: center;

    top: 100px;
    left: 10px;
}

#div-1{
    background-color: black;
}

#div-2{
    transform: scaleY(2);
    background-color: tomato;
    opacity: 0.8;
}