body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    text-align: center;
}
.wrap{
    display: inline-block;
    margin: 0 40px 2em 0;
    background: lightgray;
}
div{
    width: 170px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}
div:hover{
    cursor: pointer;
}
.one, .four, .seven, .ten{
    background: tomato;
}
.two, .five, .eight, .eleven{
    background-color: skyblue;
}
.three, .six, .nine{
    background-color: gold;
}
.one:hover{
    transform: translateX(20px);
}
.two:hover{
    transform: translateY(-20px);
}
.three:hover{
    transform: translate(-20px,20px);
}
.four:hover{
    transform: scaleX(-1);
}
.five:hover{
    transform: scaleY(1.2);
}
.six:hover{
    transform: scale(1.2, 0.5);
}
.seven:hover{
    transform: rotate(720deg);
}
.eight:hover{
    transform: skewX(20deg);
}
.nine:hover{
    transform: skewY(-20deg);
}
.ten:hover{
    transform: skew(-20deg, 20deg);
}
.eleven:hover{
    transform: matrix(1.2, 0, 0.5, 1.2, 50, 0);
}
